@import "tailwindcss";

@theme inline {
  /* 颜色 */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #E94B35;
  --color-secondary: #2563eb;

  /* 字体 */
  --font-sans: var(--font-manrope);

  /* 响应式断点 - 包含默认断点 + 自定义断点 */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-tablet: 860px;
  --breakpoint-lg: 1024px;
  --breakpoint-laptop: 1200px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  /* 间距 */
  --spacing-navbar: 70px;

  /* 圆角 */
  --radius-button: 24px;
  --radius-card: 16px;
}


body {
  font-family: var(--font-manrope), sans-serif;
}
